@font-face {
  font-family: GcbBold;
  src: url('./font/GcbBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: GcbRegular;
  src: url('./font/GcbRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// 나눔스퀘어 폰트 추가

body {
  margin: 0;
  font-family: GcbRegular, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
